.nav_clr{
    color:red;
}
.nav_bar{
    text-align:center;
    background-color:black ;
    color:white;
    line-height: 45px;
}
.find_dt{
    background-color: red;
    padding:25px;
    padding-right:80px;
    color:white;
    font-size:20px;
    border: none;
}
.client{
    text-align: center;
}

.testimonials{
    display: flex;
    justify-content: center;
    border:none;
    background-color: white;
}

.testimonials-box{
    box-shadow: 2px 0px 33px 0px rgb(221 218 218 / 75%);
}